body{
    background-color: lightblue;
}

.Intro{
    text-align: center;
}

.Main{
    display: grid;
    justify-content: space-between;

    max-width:100%;
    height:auto;
}

.Links{
    
}

div{
    border-style: solid;
    border-width: 5px;
}
img {
    max-width:100%;
    height:auto;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.Links:hover .overlay{
    opacity: 1;
} 