
*{
    color:black;
}
body{
    background-image: url("https://wallpaperaccess.com/full/1732235.jpg");
}

.Main{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;

}

.Intro{
    grid-column: 1 / 3;
    row-gap: 50px;
    text-align: center;
}

h1{
    height: 50px;
    font-size: 80px;
}


#omorilink{
    grid-column: 1 / 3;
    text-align: center;
}
.Links{
    position: relative;
    text-align: center;
    
    padding-top: 50px;
    padding-bottom: 25px;
}

img {
    width: 800px;
    height: 500px;
    transition: 0.2s linear;
}

.image{
    position:relative;
    width: 800px;
    margin: 0 auto;
}

.image:hover img{
    opacity: 0.3;
    filter: blur(5px);
}

.image:hover .clickhere{
    opacity: 1;
}

.clickhere{
    opacity: 0;

    position: absolute;
    top: 40%;

    font-size: 50px;
    text-align: center;
    word-spacing: 5px;

    padding-left: 10px;
    padding-right: 10px;

}

a:visited{
    color: black;
}

a:link{
    color: black;
}